#container {
    overflow:hidden;
    position:absolute;
}
#pixie {
	z-index: 2;
}

.logo{
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	top: 300px;
	width:70%;
	/*display:none;*/
}

body{
	background: black;
}